---
http_interactions:
- request:
    method: get
    uri: https://www.spectrum.com/bin/spectrum/residential/location.json//10460
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Akamai-Content-Targeting:
      - georegion=274;country_code=US;region_code=NY;city=NEWYORK;dma=501;pmsa=5600;msa=5602;areacode=212;county=NEWYORK;fips=36061;lat=40.7500;long=-73.9967;timezone=EST;zip=10001-10014+10016-10041+10043-10045+10055+10060+10065+10069+10075+10080-10081+10087+10090+10095+10101-10126+10128-10133+10138+10150-10179+10185+10199-10200+10203+10211-10213+10242+10249+10256-10261+10265+10268-10282+10285-10286+10292;continent=NA;network=roadrunner;network_type=cable;asnum=12271;throughput=vhigh;bw=5000;client_ip=72.225.200.12;device_os=Linux;brand_name=Firefox;is_wireless=false;internal_corp_traffic=false
    body:
      encoding: UTF-8
      string: '{"zipcode":"10460","city":"Bronx","state":"NY","serviceVendorName":"none","isSPP1":"false","isSPP2":"false","isSPP3":"false","isSPP4":"false","isSPP5":"false","isSPP6":"false","isSPP7":"false","isSPP8":"false","isNPP":"false","isTwcD3":"false","isTwcSTDA":"false","isTwcSTD":"false","isTwcSELA":"false","isTwcSEL":"false","isCharterD3":"false","isCharterD3NCS":"false","isCharterSTDS":"false","isCharterD3STL":"false","isCharterSELS":"false","isBhnSTD":"false","isBhnSEL":"false","isBackToSchool":"false","isBHNMultipleMSO":"false","isCharterMultipleMSO":"false","isTWCMultipleMSO":"false","isServiceableHawaii":"false","isNYCOutOfFootprint":"true","isResi30":"false","isResi60":"false","isResi100":"false","isResi200":"false","isResi400":"false","isResi940":"false","isNewWaveSwitch":"false","isCDELightbandSwitch":"false","isMicrologicSwitch":"false","isLocalTelSwitch":"false","isSpectrumInternetAssist":"false","isMINet":"false","isMontanaOpticom":"false","isSilverStarCommunications":"false","isTCTWest":"false","isTSC":"false","isCPWS":"false","isCitiLinks":"false","isATMC":"false","isVast":"false","isHorizon":"false"}

        '
  recorded_at: Wed, 10 Nov 2021 18:13:36 GMT
recorded_with: VCR 6.0.0
